html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
}

h1,
h2,
h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/* HEADER */
header {
    background-image: url(../img/hero.jpg);
    min-height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

.contenedor-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    height: calc(70rem - 4rem);
}

.logo h1 {
    font-weight: 300;
    text-align: center;
    font-size: 4rem;
}

.logo span {
    font-weight: 900;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav a {
    color: #fff;
}

.contenedor-telefono {
    font-size: 3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.menu a {
    font-size: 2.5rem;
    padding: 1rem;
}

.menu a:hover {
    background-color: rgb(255 255 255 / .5);
    transition: background-color 300ms;
    color: #111111;
}

.slogan {
    padding: 1rem;
    text-align: center;
}

.slogan h1 {
    font-size: 3rem;
}

.slogan p {
    margin: 0;
    line-height: 1;
    font-size: 2rem;
    margin-top: 0rem;
}

/* NOSTROS */
.contenedor-nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 3rem 2rem;
    text-align: center;
}

.contenido-nosotros h2,
.contenido-nosotros p {
    margin-bottom: 1rem;
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: #fff;
}

/* MODELOS */
.modelo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 5rem;
}

.modelos h2,
h3 {
    text-align: center;
}

.contenido-modelo a {
    border: 1px solid #111111;
    border-radius: 2rem;
    font-size: 2rem;
    padding: 1rem;
    position: relative;
}

.contenido-modelo a:hover {
    background-color: rgb(3, 54, 37);
    color: #fff;
}


.modelo:last-of-type {
    margin-bottom: 0;
}

.contenido-modelo {
    padding: 5rem;
    background-color: #fff;
}

.basico {
    background-image: url(../img/modelo_basico.jpg);
}

.premier {
    background-image: url(../img/modelo_premier.jpg);
}

.elite {
    background-image: url(../img/modelo_elite.jpg);
}

/* GALERIA */
.contenedor-galeria {
    display: grid;
    grid-template-rows: 1fr;
    gap: 3rem;
    padding: 1rem 1rem;
}

.galeria img {
    object-fit: cover;
    height: 100%;
}
/* FOOTER */
.footer {
    height: 60rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}
.footer a {
    color: #fff;
    font-size: 2rem;
}

.copyright {
    background-color: #111111;
    text-align: center;
    margin: 5rem 0 0 0;
    font-size: 2rem;
    padding: 1rem;
}

/* MEDIA IPAD */
@media (min-width: 768px) {

    /* HEADER */
    .contenedor-header {
        padding: 1rem 3rem;
    }

    .logo h1 {
        font-size: 4rem;
    }

    .menu a {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .slogan {
        padding: 2rem 0;
    }

    .slogan h1 {
        font-size: 3rem;
    }

    /* NOSOTROS */
    .contenedor-nosotros {
        padding: 12rem;
    }

    /* GALERIA */
    .contenedor-galeria {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .galeria .imagen:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    .galeria .imagen:nth-child(3) {
        grid-row: 3 / 5;
        grid-column: 2 / 3;
    }
    .galeria .imagen:nth-child(6) {
        grid-row: 2 / 4;
    }
}

/* MEDIA LAPTOP */
@media (min-width: 1200px) {

    /* HEADER */
    .contenedor-header {
        flex-direction: row;
        padding: 1rem 3rem;
    }

    .logo h1 {
        font-size: 5rem;
    }

    .menu {
        flex-direction: row;
        gap: 1rem;
    }

    .menu a {
        font-size: 2rem;
        padding: 1rem;
    }

    .slogan {
        padding: 38rem 0;
    }

    .slogan h1 {
        font-size: 4rem;
    }

    /* NOSOTROS */
    .contenedor-nosotros {
        grid-template-columns: repeat(3, 1fr);
    }

    .nosotros {
        grid-column: 2/4;
    }

    /* MODELOS */
    .modelo {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 15rem;
    }

    .contenido-modelo {
        width: 70rem;
        grid-row: 2 / 3;
        padding: 5rem 3rem;
        opacity: 0.9;
    }
    /* GALERIA */
    .contenedor-galeria {
        width:120rem;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .galeria .imagen:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
    .galeria .imagen:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .galeria .imagen:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
    /* FOOTER */
    .footer {
        height: 40rem;          
    }
    
    .menu{
        display: flex;
        justify-content: center;
    }
    .footer a {
        color: #fff;
        font-size: 2rem;
    }
}